// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$border-color: #E6ECF1;
$green: #6cd4b8;

html, body, #react-entry, .home {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background: lighten($border-color, 5%);
}

%outlined-input {
  background: white;
  padding: 15px 10px;
  box-sizing: border-box;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid darken($border-color, 2%);
  outline: none;
  transition: all 0.2s ease;

  &:hover {
    border-color: $green;
    transition: all 0.2s ease;
  }

  &:focus {
    border-color: $green;
    transition: all 0.2s ease;
  }
}

input {
  @extend %outlined-input;
}

button {
  @extend %outlined-input;
  color: darken($border-color, 25%);
  font-size: 14px;
  padding-right: 20px;
  padding-left: 20px;

  &:hover {
    cursor: pointer;
    color: darken($green, 10%);
  }

  .title {
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
    text-align: left;
  }

  .subtitle {
    font-weight: bold;
    color: darken($border-color, 70%);
    margin-top: 7px;
    font-size: 12px;
    text-align: left;
  }
}

.navigation-button {
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
}

.input-button-combo {
  display: flex;
  width: 100%;
  font-size: 16px;
  border-radius: 3px;
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);

  input {
    flex-grow: 1;
    flex-shrink: 1;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  button {
    flex-grow: 0;
    flex-shrink: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

%fixed-size-flex-child {
  flex-grow: 0;
  flex-shrink: 0;
  background: white;
}

.page-section {
  box-sizing: border-box;
  padding: 40px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.home {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: sans-serif;
}

.search-bar {
  @extend %fixed-size-flex-child;
  border-bottom: 1px solid darken($border-color, 2%);
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);

  .page-section {
    padding-bottom: 20px;
  }
}

.pagination {
  @extend %fixed-size-flex-child;
  border-top: 1px solid darken($border-color, 2%);
  box-shadow: 0 -3px 8px 0 rgba(116, 129, 141, 0.1);

  .page-section {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h3 {
    color: #444;
  }
}

.results, .loader {
  flex-grow: 1;
  flex-shrink: 1;
  overflow-y: auto;
}

.loader {
  background: #4f5055;

  h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
    color: white;
    font-weight: normal;
  }

  .images {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 150px;
    height: auto;

    +img {
      width: 120px;
      margin-top: 20px;
      margin-left: 100px;
    }
  }
}

.result {
  margin-top: 20px;
  box-sizing: border-box;
  padding: 20px 25px;
  border: 1px solid darken($border-color, 2%);
  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);

  &:first-child {
    margin-top: 0;
  }
}

.key-value-pair {
  margin-top: 5px;
  font-size: 14px;

  &:first-child {
    margin-top: 0;
  }

  .key {
    display: inline-block;
    font-weight: bold;
    width: 200px;
  }

  .value, .value-link {
    display: inline-block;
    max-width: calc(100% - 210px);
    margin-left: 5px;
  }

  .value + .value {
    margin-top: 3px;
  }

  .value-link {
    button {
      text-align: left;
      padding: 0;
      border: 0;
      background: transparent;
    }
  }

  .value-list {
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 200px);

    .value-link {
      display: block;
    }
  }
}

.hidden {
  display: none;
}
